.list-container{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.list-item{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    min-width:400px;
    padding: 5px;
    border-bottom: 1px solid grey;
}

.done-item{
    text-decoration: line-through;
}
