.navbar{
    height: 50px;
    background-color: #2c7df3;
    display: flex;
    justify-content: center;
}
.navContainer{
    width:100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    color:white;
    align-items: center;
}

.navLogo{
   font-weight: 500;
   text-transform: capitalize;
}

.navItems{
    display: flex;
    justify-content: space-between;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #2c7df3;
}
a,a:visited{
    color:white;
    text-decoration: none;
    padding:5px;
}
a:hover{
    color:lightblue;
}
