.navbar{
    height: auto;
    background-color: #2c7df3;
    display: flex;
    justify-content: center;
    padding:20px;
}
.navContainer{

    width:100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    color:white;
    align-items: center;
}

.navLogo{
   font-weight: 500;
   text-transform: capitalize;
}

.navItems{
    display: flex;
    justify-content: space-between;
}

.navButtonsContainer{
    display: flex;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #2c7df3;
}
