.card-container{
    width:300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin:20px auto;

}
.card{
    width:300px;
    min-height: 300px;
    position: relative;
    /*transition: transform 2000ms;*/
    transform-style: preserve-3d;
    cursor: pointer;
}


.front,
.back{
    height: 100%;
    width: 100%;
    display: block;
    background-color: #ddeafd;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(95, 77, 99);
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform ease 500ms;
}
.front {
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(-180deg);
}

.card.flipped> .front{
    transform: rotateY(180deg);
}

.card.flipped > .back{
    transform: rotateY(0deg);
}
.card-image {
    width: 100%;
    border-radius: 10px;
}

